.popup-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none;text-align: center;
  }

  .popup-success {
    background-color: #0ace86;
  }

  .popup-error {
    background-color: #0ace86;
  }

  /* Overlay to dim background */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Hidden by default */
  }

  .close-btn {
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    background: #fff;
    border: none;border-radius: 10px;padding: 6px;
    margin-top: 10px;
  }

  .close-btn:hover {
    color: #000000;
  }

  #diva{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  #diva.visible {
    opacity: 1;
    transform: translateY(0);
}
body{
  overflow-x: hidden;
}
#picture{
  height: 140px;
  width: 150px;
}

@media only screen and (max-width: 900px) {
  #picture{
    height: 90px;
    width: 90px;
  }
  #dp{
    display: none;
  }
}